@charset "UTF-8";

/*------------------------------------------------------------------------------*/

/*							THEME FORT CONTRASTE								*/

/*------------------------------------------------------------------------------*/

:root {
  /* theme */
  --theme-fonce-mini: #606070;
  --theme-fonce-leger: #253555;
  --theme-fonce-moyen: #203050;
  --theme-fonce-fort: #103060;
  --theme-fonce-ultra: #002045;
  --theme-clair-mini: #8080b0;
  --theme-clair-leger: #9090b0;
  --theme-clair-moyen: #b0b0d0;
  --theme-clair-fort: #d0d0e0;
  --theme-clair-ultra: #f7f7f7;
  --theme-libelle: #103060;
  --theme-important: #266714;
  /*sur fond clair*/
  --theme-important-alt: #00ff00;
  /* sur fond foncé */
  --theme-important-back: #97e797;
  /* surlignage */
  --theme-important-back-over: #00ff00;
  /* surlignage hover */
  /* global */
  --info: #254a00;
  /*vert*/
  --success: #254a00;
  /*vert*/
  --warning: #ad3200;
  /*orange*/
  --warning-fatal: #8a1a00;
  /*rouge*/
  --error: #8a1a00;
  /*rouge foncé*/
  /* éléments de modales */
  --bouton-modal-retour: #8a1a00;
  --bouton-modal-valider: #254a00;
  /* polices */
  --realise: #254a00;
  --prevu: #254a7f;
  --prevu-total: #673016;
  --absence: #8a1a00;
  --activite: #bf7800;
  --historique: #7f7f7f;
  --deconnexion: #8a1a00;
  --charge: #254a7f;
  --help: #7f7f7f;
  --enveloppe: #bf7800;
  /* statuts */
  --status-active: #103060;
  --status-active: var(--theme-libelle);
  --status-terminated: #7f7f7f;
  --status-not-validated: #f04040;
  --status-validated: #60a040;
  /* icônes statiques d'état */
  --public: #254a00;
  --private: #8a1a00;
  --milestone: #8a1a00;
  /* icônes d'action*/
  --action-creation: #6495ed;
  --action-terminate: #254a00;
  --action-undo: #254a00;
  --action-add-time: #6495ed;
  --action-trash: #8a1a00;
  --action-edit: #d0a020;
  --action-copy: #d0a020;
  --action-move: #d0a020;
  --action-planification: #ad3200;
  --action-info: #eeee00;
  --action-eye: #eeee00;
  --action-disabled: #f0f0ff;
  /* boutons absences */
  --time-add: #254a00;
  --time-doff: #8a1a00;
  /* phases */
  --phase: #d0b0b0;
  --phase-selected: #c7a7a7;
  /* tasks */
  --task: #a0522d;
  --task-head: #d6ab97;
  --task-selected: #e8d5cd;
}

/*------------------------------------------------------------------------------*/

/*                            DEFINITIONS                                       */

/*                             GLOBALES                                         */

/*------------------------------------------------------------------------------*/

body {
  font-weight: 500;
}

table.sortable span.arrow,
span.reversed,
th.arrow.down:after,
th.reversedarrow.down:after,
th.arrow.up:after,
th.reversedarrow.up:after {
  border-color: transparent transparent #00ff00 transparent;
  border-color: transparent transparent var(--theme-important-alt) transparent;
  margin-top: -15px;
  margin-top: -1.5rem;
}

table.sortable span.arrow.up,
th.arrow.up:after {
  border-color: #00ff00 transparent transparent transparent;
  border-color: var(--theme-important-alt) transparent transparent transparent;
  margin-top: -10px;
  margin-top: -1.0rem;
}

table.sortable > thead th:hover:not([data-defaultsort=disabled]) {
  color: #00ff00;
  color: var(--theme-important-alt);
  background-color: #d0d0e0;
  background-color: var(--theme-clair-moyen);
}

